<a href="https://colab.research.google.com/github/kushagrasharma-13/Python/blob/main/Flight_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [URL to Lab docs](https://docs.google.com/document/d/1WEFXXsi5fi6ra0ImD7KCAeAdUtFxv2YOaQEPOgAi2bs/edit?usp=sharing)

In [1]:
import math
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
dataset = pd.read_csv('/content/drive/MyDrive/Python/Datasets/Flights.csv')
dataset

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2014,1,1,1.0,96.0,235.0,70.0,AS,N508AS,145,PDX,ANC,194.0,1542,0.0,1.0
1,2014,1,1,4.0,-6.0,738.0,-23.0,US,N195UW,1830,SEA,CLT,252.0,2279,0.0,4.0
2,2014,1,1,8.0,13.0,548.0,-4.0,UA,N37422,1609,PDX,IAH,201.0,1825,0.0,8.0
3,2014,1,1,28.0,-2.0,800.0,-23.0,US,N547UW,466,PDX,CLT,251.0,2282,0.0,28.0
4,2014,1,1,34.0,44.0,325.0,43.0,AS,N762AS,121,SEA,ANC,201.0,1448,0.0,34.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162044,2014,9,30,2357.0,-2.0,545.0,-20.0,UA,N477UA,479,PDX,IAH,210.0,1825,23.0,57.0
162045,2014,9,30,2359.0,4.0,734.0,-1.0,DL,N137DL,1929,SEA,ATL,244.0,2182,23.0,59.0
162046,2014,9,30,NaN,NaN,NaN,NaN,AS,N530AS,470,SEA,SAN,NaN,1050,NaN,NaN
162047,2014,9,30,NaN,NaN,NaN,NaN,US,NaN,494,PDX,PHX,NaN,1009,NaN,NaN
162048,2014,9,30,NaN,NaN,NaN,NaN,WN,N790SW,427,SEA,SMF,NaN,605,NaN,NaN

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162049 entries, 0 to 162048
Data columns (total 16 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   year       162049 non-null  int64
 1   month      162049 non-null  int64
 2   day        162049 non-null  int64
 3   dep_time   161192 non-null  float64
 4   dep_delay  161192 non-null  float64
 5   arr_time   161061 non-null  float64
 6   arr_delay  160748 non-null  float64
 7   carrier    162049 non-null  object
 8   tailnum    161801 non-null  object
 9   flight     162049 non-null  int64
 10  origin     162049 non-null  object
 11  dest       162049 non-null  object
 12  air_time   160748 non-null  float64
 13  distance   162049 non-null  int64
 14  hour       161192 non-null  float64
 15  minute     161192 non-null  float64
dtypes: float64(7), int64(5), object(4)
memory usage: 19.8+ MB

In [4]:
dataset.describe()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
count,162049.0,162049.000000,162049.000000,161192.000000,161192.000000,161061.000000,160748.000000,162049.000000,160748.000000,162049.000000,161192.000000,161192.000000
mean,2014.0,6.605027,15.749890,1278.283755,6.133859,1482.501282,2.240868,1357.356725,152.588511,1204.514634,12.479515,30.332244
std,0.0,3.324399,8.789417,522.583793,29.112035,523.958781,31.191037,1495.271031,72.547469,653.150062,5.232476,18.061569
min,2014.0,1.000000,1.000000,1.000000,-37.000000,1.000000,-67.000000,2.000000,18.000000,93.000000,0.000000,0.000000
25%,2014.0,4.000000,8.000000,831.000000,-5.000000,1127.000000,-12.000000,408.000000,103.000000,689.000000,8.000000,14.000000
50%,2014.0,7.000000,16.000000,1217.000000,-2.000000,1517.000000,-4.000000,694.000000,129.000000,991.000000,12.000000,30.000000
75%,2014.0,9.000000,23.000000,1721.000000,5.000000,1918.000000,7.000000,1726.000000,199.000000,1660.000000,17.000000,47.000000
max,2014.0,12.000000,31.000000,2400.000000,1553.000000,2400.000000,1539.000000,6527.000000,422.000000,2724.000000,24.000000,59.000000

In [5]:
dataset.isnull().sum()

year            0
month           0
day             0
dep_time      857
dep_delay     857
arr_time      988
arr_delay    1301
carrier         0
tailnum       248
flight          0
origin          0
dest            0
air_time     1301
distance        0
hour          857
minute        857
dtype: int64

#1. Find the missing values of hours and distance and replace with the mean and find the correlation and visualize it. And find the correlation by normalizing the data using decimal scaling technique. And find the difference in both correlations.

In [6]:
dataset['hour'].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
162044    False
162045    False
162046     True
162047     True
162048     True
Name: hour, Length: 162049, dtype: bool

In [7]:
type(dataset)

pandas.core.frame.DataFrame

In [8]:
hour_mean = pd.DataFrame(dataset['hour'].fillna(dataset['hour'].mean()))
hour_mean.rename(columns={'hour':'hour_mean'}, inplace=True)
dataset = dataset.join(hour_mean)

In [9]:
hour = np.array(dataset['hour_mean'])
distance = np.array(dataset['distance'])

In [10]:
np.corrcoef(hour, distance)[0][1]

-0.07757813298517759

**Decimal Scaling**

In [11]:
hm = max(hour)
dm = max(distance)
jh = int(math.log10(hm)) + 1
jd = int(math.log10(dm)) + 1

#decimal scaling technique formula: vi' = vi/10^j
for i in range(len(hour)):
  hour[i] = hour[i] / 10**jh

for i in range(len(distance)):
  distance[i] = distance[i] / 10**jd

In [12]:
print(np.std(hour)==0 or np.std(distance)==0)   #correlation can not be found because standard deviation is zero
print(pd.Series(hour).corr(pd.Series(distance)))
print(np.corrcoef(hour, distance))

True
nan
[[ 1. nan]
 [nan nan]]

/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2853: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/usr/local/lib/python3.10/dist-packages/numpy/lib/function_base.py:2854: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

#2. Find the missing values of hours and distance and replace with the median and find the correlation and visualize it. And find the correlation by normalizing the data using min-max normalization technique. And find the difference in both correlations.

In [13]:
hour_median = pd.DataFrame(dataset['hour'].fillna(dataset['hour'].median()))
hour_median.rename(columns={'hour':'hour_median'}, inplace=True)
dataset = dataset.join(hour_median)

In [14]:
hour = np.array(dataset['hour_median'])
distance = np.array(dataset['distance'])

In [15]:
np.corrcoef(hour, distance)[0][1]

-0.07754563444355889

**Min Max Scaling**

In [16]:
scaler_hour = MinMaxScaler()
hour_re = hour.reshape(-1,1)
hour_scaler = scaler_hour.fit_transform(hour_re)

In [17]:
scaler_distance = MinMaxScaler()
distance_re = distance.reshape(-1,1)
distance_scaler = scaler_distance.fit_transform(distance_re)

In [18]:
#we need to flatten the 1d array created to 0d array so that it does not overload the 'corrcoef'
hour_scaler = hour_scaler.flatten()
distance_scaler = distance_scaler.flatten()

In [19]:
np.corrcoef(hour_scaler, distance_scaler)[0][1]   #runtime crashes on running this cell

-0.07754563444355893

#3. Find the missing values of hours and distance and replace with the mode and find the correlation and visualize it. And find the correlation by normalizing the data using z- score normalization technique. And find the difference in both correlations.

In [20]:
hour_mode = pd.DataFrame(dataset['hour'].fillna(dataset['hour'].mode()[0]))
hour_mode.rename(columns={'hour':'hour_mode'}, inplace=True)
dataset = dataset.join(hour_mode)

In [21]:
hour = np.array(dataset['hour_mode'])
distance = np.array(dataset['distance'])

In [22]:
np.corrcoef(hour, distance)

array([[ 1.        , -0.07685127],
       [-0.07685127,  1.        ]])

In [23]:
#z score technique formula: vi' = (vi - ~A) / sd(A)

sd_h = np.std(hour)
sd_d = np.std(distance)

m_h = np.mean(hour)
m_d = np.mean(distance)

for i in range(len(hour)):
  hour[i] = (hour[i] - m_h) / sd_h

for i in range(len(distance)):
  distance[i] = (distance[i] - m_d) / sd_d

In [24]:
print(np.std(hour)==0 or np.std(distance)==0)   #correlation can be found because standard deviation is not zero

False

In [25]:
np.corrcoef(hour, distance)[0][1]

-0.06696678263871918

# Maximum correlation came when we performed z score normalization technique on datatset whose null hour values were filled by 'mode'