<a href="https://colab.research.google.com/github/kushagrasharma-13/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Pandas

1. Importing the Pandas Module

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

2. Checking all the fuctions available in Pandas

In [ ]:
print(dir(pd))

['ArrowDtype', 'BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__all__', '__builtins__', '__cached__', '__deprecated_num_index_names', '__dir__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_is_numpy_dev', '_libs', '_testing', '_typing', '_version', 'annotations', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'from_dummies', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']

3. Mouting Google Drive

4. Reading the file

  Printing the information of the given data

   Printing the data

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Heart_Rate.csv")
dataset.info()
dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  167 non-null    float64
 3   Calories  164 non-null    float64
 4   DOB       168 non-null    object
dtypes: float64(4), object(1)
memory usage: 12.3+ KB

     Duration  Pulse  Maxpulse  Calories       DOB
0        60.0  110.0     130.0     409.1  5/5/1975
1        60.0  117.0     145.0     479.0  5/5/1975
2        60.0  103.0     135.0     340.0       NaN
3        45.0  109.0     175.0     282.4  5/7/1975
4        45.0  117.0     148.0     406.0  9/8/1989
..        ...    ...       ...       ...       ...
306       NaN    NaN       NaN       NaN       NaN
307       NaN    NaN       NaN       NaN       NaN
308       NaN    NaN       NaN       NaN       NaN
309       NaN    NaN       NaN       NaN       NaN
310       NaN    NaN       NaN       NaN       NaN

[311 rows x 5 columns]

5. Finding the max number of non-null columns

In [ ]:
lk = []
for col in dataset.columns:
  lk.append(dataset[col].notnull().sum())
j = max(lk)
dataset = dataset.head(j)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  167 non-null    float64
 3   Calories  164 non-null    float64
 4   DOB       168 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB

6. Replacing the null value with suitable replacements

In [ ]:
dataset.info()
p = dataset['Pulse'].mean()
dataset['Pulse'].fillna(p,inplace=True)
mp = dataset['Maxpulse'].mode()[0]
dataset['Maxpulse'].fillna(mp,inplace=True)
cal = dataset['Calories'].mean()
dataset['Calories'].fillna(cal,inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  169 non-null    float64
 3   Calories  169 non-null    float64
 4   DOB       169 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  169 non-null    float64
 3   Calories  169 non-null    float64
 4   DOB       169 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB

<ipython-input-38-6f3a129dfc25>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Pulse'].fillna(p,inplace=True)
<ipython-input-38-6f3a129dfc25>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Maxpulse'].fillna(mp,inplace=True)
<ipython-input-38-6f3a129dfc25>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Calories'].fillna(cal,inplace=True)

7. Filling the N/A dates with current date

In [ ]:
from datetime import datetime
now = datetime.now()
current_date = now.strftime('%d/%m/%Y')
dataset["DOB"].fillna(current_date, inplace=True)
dataset.info()
print(dataset.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  169 non-null    float64
 3   Calories  169 non-null    float64
 4   DOB       169 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB
     Duration   Pulse  Maxpulse     Calories         DOB
0        60.0   110.0     130.0   409.100000  05/05/1975
1        60.0   117.0     145.0   479.000000  05/05/1975
2        60.0   103.0     135.0   340.000000  19/05/2023
3        45.0   109.0     175.0   282.400000  05/07/1975
4        45.0   117.0     148.0   406.000000  09/08/1989
5        60.0   102.0     127.0   300.000000  09/09/1989
6        60.0   110.0     136.0   374.000000  05/05/1975
7        45.0   104.0     134.0   253.300000  05/06/1975
8        30.0   109.0     120.0   195.100000  05/07/1975
9        60.0    98.0     124.0   269.000000  01/07/1988
10       60.0   103.0     147.0   329.300000  01/08/1988
11       60.0   100.0     120.0   250.700000  01/09/1988
12       60.0   106.0     128.0   345.300000  07/04/1988
13       60.0   104.0     132.0   379.300000  07/05/1988
14       60.0    98.0     123.0   275.000000  07/06/1988
15       60.0  1000.0     120.0   215.200000  07/07/1988
16       60.0   100.0     120.0   300.000000  07/08/1988
17       45.0    90.0     112.0   375.790244  07/09/1988
18       60.0   103.0     123.0   323.000000  04/04/1986
19       45.0    97.0     120.0   243.000000  04/06/1979
20       60.0   108.0     131.0   364.200000  04/07/1979
21       45.0   100.0     119.0   282.000000  04/08/1979
22       60.0   130.0     101.0   300.000000  09/01/1989
23       45.0   105.0     132.0   246.000000  09/02/1989
24       60.0   102.0     126.0   334.500000  09/03/1989
25       60.0   100.0     120.0   250.000000  09/04/1989
26       60.0    92.0     118.0   241.000000  04/04/1987
27       60.0   103.0     132.0   375.790244  04/05/1987
28       60.0   100.0     132.0   280.000000  04/06/1987
29       60.0   102.0     129.0   380.300000  04/07/1987
30       60.0    92.0     115.0   243.000000  04/08/1987
31       45.0    90.0     112.0   180.100000  04/09/1987
32       60.0   101.0     124.0   299.000000  06/01/1964
33       60.0    93.0     113.0   223.000000  03/02/1980
34       60.0   107.0     136.0   361.000000  03/03/1980
35       60.0   114.0     140.0   415.000000  03/04/1980
36       60.0   102.0     127.0   300.000000  08/09/1983
37       60.0   100.0     120.0   300.000000  04/05/1987
38       60.0   100.0     120.0   300.000000  02/02/1983
39       45.0   104.0     129.0   266.000000  06/06/1986
40       45.0    90.0     112.0   180.100000  06/07/1986
41       60.0    98.0     126.0   286.000000  01/02/1951
42       60.0   100.0     122.0   329.400000  02/09/1972
43      160.0   111.0     138.0   400.000000  01/02/1951
44       60.0   111.0     131.0   397.000000  01/03/1951
45       60.0    99.0     119.0   273.000000  01/04/1951
46       60.0   109.0     153.0   387.600000  01/05/1951
47       45.0   111.0     136.0   300.000000  01/06/1951
48       45.0   108.0     129.0   298.000000  09/05/1985
49       60.0   111.0     139.0   397.600000  09/04/1989
50       60.0   107.0     136.0   380.200000  04/04/1987
51       80.0   123.0     146.0   643.100000  04/05/1987
52       60.0   106.0     130.0   263.000000  04/06/1987
53       60.0   118.0     151.0   486.000000  04/07/1987
54       30.0   136.0     175.0   238.000000  04/08/1987
55       60.0   121.0     146.0   450.700000  04/09/1987
56       60.0   118.0     121.0   413.000000  06/01/1964
57       45.0   115.0     144.0   305.000000  03/02/1980
58       20.0   153.0     172.0   226.400000  03/03/1980
59       45.0   123.0     152.0   321.000000  03/04/1980
60      210.0   108.0     160.0  1376.000000  08/09/1983
61      160.0   110.0     137.0  1034.400000  04/05/1987
62      160.0   109.0     135.0   853.000000  02/02/1983
63       45.0   118.0     141.0   341.000000  06/06/1986
64       20.0   110.0     130.0   131.400000  06/07/1986
65      180.0    90.0     130.0   800.400000  01/02/1951
66      150.0   105.0     135.0   873.400000  02/09/1972
67      150.0   107.0     130.0   816.000000  01/02/1951
68       20.0   106.0     136.0   110.400000  01/03/1951
69      300.0   108.0     143.0  1500.200000  01/04/1951
70      150.0    97.0     129.0  1115.000000  01/05/1951
71       60.0   109.0     153.0   387.600000  01/06/1951
72       90.0   100.0     127.0   700.000000  09/05/1985
73      150.0    97.0     127.0   953.200000  01/04/1951
74       45.0   114.0     146.0   304.000000  01/05/1951
75       90.0    98.0     125.0   563.200000  01/06/1951
76       45.0   105.0     134.0   251.000000  09/05/1985
77       45.0   110.0     141.0   300.000000  09/04/1989
78      120.0   100.0     130.0   500.400000  04/04/1987
79      270.0   100.0     131.0  1729.000000  04/05/1987
80       30.0   159.0     182.0   319.200000  04/06/1987
81       45.0   149.0     169.0   344.000000  04/07/1987
82       30.0   103.0     139.0   151.100000  04/08/1987
83      120.0   100.0     130.0   500.000000  04/09/1987
84       45.0   100.0     120.0   225.300000  06/01/1964
85       30.0   151.0     170.0   300.000000  03/02/1980
86       45.0   102.0     136.0   234.000000  03/03/1980
87      120.0   100.0     157.0  1000.100000  03/04/1980
88       45.0   129.0     103.0   242.000000  08/09/1983
89       20.0    83.0     107.0    50.300000  01/04/1951
90      180.0   101.0     127.0   600.100000  01/05/1951
91       45.0   107.0     137.0   375.790244  01/06/1951
92      -20.0    90.0     107.0   105.300000  09/05/1985
93       15.0    80.0     100.0    50.500000  09/04/1989
94       20.0   150.0     171.0   127.400000  04/04/1987
95       20.0   151.0     168.0   229.400000  04/05/1987
96       30.0    95.0     128.0   128.200000  04/06/1987
97       25.0   152.0     168.0   244.200000  04/07/1987
98       30.0   109.0     131.0   188.200000  04/08/1987
99       90.0    93.0     124.0   604.100000  04/09/1987
100      20.0    95.0     112.0    77.700000  06/01/1964
101      90.0    90.0     110.0   500.000000  03/02/1980
102      90.0    90.0     100.0   500.000000  03/03/1980
103      90.0    90.0     100.0   500.400000  03/04/1980
104      30.0    92.0     108.0    92.700000  08/09/1983
105      30.0    93.0     128.0   124.000000  08/09/1974
106     180.0    90.0     120.0   800.300000  05/08/1980
107      30.0    90.0     120.0    86.200000  08/09/1983
108      90.0    90.0     120.0   500.300000  01/04/1951
109     210.0   137.0     184.0  1860.400000  01/05/1951
110      60.0   102.0     124.0   325.200000  01/06/1951
111      45.0   107.0     124.0   275.000000  09/05/1985
112      15.0   124.0     139.0   124.200000  09/04/1989
113      45.0   100.0     120.0   225.300000  04/04/1987
114      60.0   108.0     131.0   367.600000  04/05/1987
115      60.0   108.0     151.0   351.700000  04/06/1987
116      60.0   116.0     141.0   443.000000  04/07/1987
117      60.0    97.0     122.0   277.400000  04/08/1987
118      60.0   105.0     125.0   375.790244  04/09/1987
119      60.0   103.0     124.0   332.700000  06/01/1964
120      30.0   112.0     137.0   193.900000  03/02/1980
121      45.0   100.0     120.0   100.700000  03/03/1980
122      60.0   119.0     169.0   336.700000  03/04/1980
123      60.0   107.0     127.0   344.900000  08/09/1983
124      60.0   111.0     151.0   368.500000  08/09/1983
125      60.0    98.0     122.0   271.000000  01/04/1951
126      60.0    97.0     124.0   275.300000  01/05/1951
127      60.0   109.0     127.0   382.000000  01/06/1951
128      90.0    99.0     125.0   466.400000  09/05/1985
129      60.0   114.0     151.0   384.000000  09/04/1989
130      60.0   104.0     134.0   342.500000  04/04/1987
131      60.0   107.0     138.0   357.500000  04/05/1987
132      60.0   103.0     133.0   335.000000  04/06/1987
133      60.0   106.0     132.0   327.500000  04/07/1987
134      60.0   103.0     136.0   339.000000  04/08/1987
135      20.0   136.0     156.0   189.000000  04/09/1987
136      45.0   117.0     143.0   317.700000  06/01/1964
137      45.0   115.0     137.0   318.000000  03/02/1980
138      45.0   113.0     138.0   308.000000  03/03/1980
139      20.0   141.0     162.0   222.400000  03/04/1980
140      60.0   108.0     135.0   390.000000  08/09/1983
141      60.0    97.0     127.0   375.790244  08/09/1983
142      45.0   100.0     120.0   250.400000  01/04/1951
143      45.0   122.0     149.0   335.400000  01/05/1951
144      60.0   136.0     170.0   470.200000  01/06/1951
145      45.0   106.0     126.0   270.800000  09/05/1985
146      60.0   107.0     136.0   400.000000  09/04/1989
147      60.0   112.0     146.0   361.900000  04/04/1987
148      30.0   103.0     127.0   185.000000  04/05/1987
149      60.0   110.0     150.0   409.400000  04/06/1987
150      60.0   106.0     134.0   343.000000  04/07/1987
151      60.0   109.0     129.0   353.200000  04/08/1987
152      60.0   109.0     138.0   374.000000  04/09/1987
153      30.0   150.0     167.0   275.800000  06/01/1964
154      60.0   105.0     128.0   328.000000  19/05/2023
155      60.0   111.0     151.0   368.500000  03/03/1980
156      60.0    97.0     131.0   270.400000  03/04/1980
157      60.0   100.0     120.0   270.400000  08/09/1983
158      60.0   114.0     150.0   382.800000  08/09/1983
159      30.0    80.0     120.0   240.900000  01/04/1951
160      30.0    85.0     120.0   250.400000  01/05/1951
161      45.0    90.0     130.0   260.400000  01/06/1951
162      45.0    95.0     130.0   270.000000  09/05/1985
163      45.0   100.0     140.0   280.900000  09/04/1989
164      60.0   105.0     140.0   290.800000  04/04/1987
165      60.0   110.0     145.0   300.000000  04/05/1987
166      60.0   115.0     145.0   310.200000  04/06/1987
167      75.0   120.0     150.0   320.400000  04/07/1987
168      75.0   125.0     150.0   330.400000  04/08/1987

<ipython-input-39-a62a1483d88b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["DOB"].fillna(current_date, inplace=True)

8. Correcting the date format

In [ ]:
c = 0
for i in range(169):
  d = []
  a,b,c = map(int, (dataset['DOB'][i]).split('/'))
  date = a
  month = b
  year = c
  if a>31:
    if b>12:
      year = a
      date = b
      month = c
    elif c>12:
      year = a
      month = b
      date = c
  elif b>31:
    if a>12:
      year = b
      date = a
      month = c
    elif c>12:
      year = b
      date = c
      month = a
  elif c>31:
    if a>12:
      year = c
      date = a
      month = b
    elif b>12:
      year = c
      date = b
      month = a
  if year>=int(now.strftime('%Y')):
    if month>=int(now.strftime('%m')):
      if(date>=int(now.strftime('%d'))):
        date = int(now.strftime('%d'))
      month = int(now.strftime('%m'))
    year = now.strftime('%Y')
  d.append(str(date))
  d.append(str(month))
  d.append(str(year))
  x = '/'.join(d)
  y = datetime.strptime(x,'%d/%m/%Y')
  y = str(y.strftime('%d/%m/%Y'))
  ewq = str(y)
  dataset['DOB'][i] = ewq
dataset.info()
print(dataset.to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    float64
 1   Pulse     169 non-null    float64
 2   Maxpulse  169 non-null    float64
 3   Calories  169 non-null    float64
 4   DOB       169 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.7+ KB
     Duration   Pulse  Maxpulse     Calories         DOB
0        60.0   110.0     130.0   409.100000  05/05/1975
1        60.0   117.0     145.0   479.000000  05/05/1975
2        60.0   103.0     135.0   340.000000  19/05/2023
3        45.0   109.0     175.0   282.400000  05/07/1975
4        45.0   117.0     148.0   406.000000  09/08/1989
5        60.0   102.0     127.0   300.000000  09/09/1989
6        60.0   110.0     136.0   374.000000  05/05/1975
7        45.0   104.0     134.0   253.300000  05/06/1975
8        30.0   109.0     120.0   195.100000  05/07/1975
9        60.0    98.0     124.0   269.000000  01/07/1988
10       60.0   103.0     147.0   329.300000  01/08/1988
11       60.0   100.0     120.0   250.700000  01/09/1988
12       60.0   106.0     128.0   345.300000  07/04/1988
13       60.0   104.0     132.0   379.300000  07/05/1988
14       60.0    98.0     123.0   275.000000  07/06/1988
15       60.0  1000.0     120.0   215.200000  07/07/1988
16       60.0   100.0     120.0   300.000000  07/08/1988
17       45.0    90.0     112.0   375.790244  07/09/1988
18       60.0   103.0     123.0   323.000000  04/04/1986
19       45.0    97.0     120.0   243.000000  04/06/1979
20       60.0   108.0     131.0   364.200000  04/07/1979
21       45.0   100.0     119.0   282.000000  04/08/1979
22       60.0   130.0     101.0   300.000000  09/01/1989
23       45.0   105.0     132.0   246.000000  09/02/1989
24       60.0   102.0     126.0   334.500000  09/03/1989
25       60.0   100.0     120.0   250.000000  09/04/1989
26       60.0    92.0     118.0   241.000000  04/04/1987
27       60.0   103.0     132.0   375.790244  04/05/1987
28       60.0   100.0     132.0   280.000000  04/06/1987
29       60.0   102.0     129.0   380.300000  04/07/1987
30       60.0    92.0     115.0   243.000000  04/08/1987
31       45.0    90.0     112.0   180.100000  04/09/1987
32       60.0   101.0     124.0   299.000000  06/01/1964
33       60.0    93.0     113.0   223.000000  03/02/1980
34       60.0   107.0     136.0   361.000000  03/03/1980
35       60.0   114.0     140.0   415.000000  03/04/1980
36       60.0   102.0     127.0   300.000000  08/09/1983
37       60.0   100.0     120.0   300.000000  04/05/1987
38       60.0   100.0     120.0   300.000000  02/02/1983
39       45.0   104.0     129.0   266.000000  06/06/1986
40       45.0    90.0     112.0   180.100000  06/07/1986
41       60.0    98.0     126.0   286.000000  01/02/1951
42       60.0   100.0     122.0   329.400000  02/09/1972
43      160.0   111.0     138.0   400.000000  01/02/1951
44       60.0   111.0     131.0   397.000000  01/03/1951
45       60.0    99.0     119.0   273.000000  01/04/1951
46       60.0   109.0     153.0   387.600000  01/05/1951
47       45.0   111.0     136.0   300.000000  01/06/1951
48       45.0   108.0     129.0   298.000000  09/05/1985
49       60.0   111.0     139.0   397.600000  09/04/1989
50       60.0   107.0     136.0   380.200000  04/04/1987
51       80.0   123.0     146.0   643.100000  04/05/1987
52       60.0   106.0     130.0   263.000000  04/06/1987
53       60.0   118.0     151.0   486.000000  04/07/1987
54       30.0   136.0     175.0   238.000000  04/08/1987
55       60.0   121.0     146.0   450.700000  04/09/1987
56       60.0   118.0     121.0   413.000000  06/01/1964
57       45.0   115.0     144.0   305.000000  03/02/1980
58       20.0   153.0     172.0   226.400000  03/03/1980
59       45.0   123.0     152.0   321.000000  03/04/1980
60      210.0   108.0     160.0  1376.000000  08/09/1983
61      160.0   110.0     137.0  1034.400000  04/05/1987
62      160.0   109.0     135.0   853.000000  02/02/1983
63       45.0   118.0     141.0   341.000000  06/06/1986
64       20.0   110.0     130.0   131.400000  06/07/1986
65      180.0    90.0     130.0   800.400000  01/02/1951
66      150.0   105.0     135.0   873.400000  02/09/1972
67      150.0   107.0     130.0   816.000000  01/02/1951
68       20.0   106.0     136.0   110.400000  01/03/1951
69      300.0   108.0     143.0  1500.200000  01/04/1951
70      150.0    97.0     129.0  1115.000000  01/05/1951
71       60.0   109.0     153.0   387.600000  01/06/1951
72       90.0   100.0     127.0   700.000000  09/05/1985
73      150.0    97.0     127.0   953.200000  01/04/1951
74       45.0   114.0     146.0   304.000000  01/05/1951
75       90.0    98.0     125.0   563.200000  01/06/1951
76       45.0   105.0     134.0   251.000000  09/05/1985
77       45.0   110.0     141.0   300.000000  09/04/1989
78      120.0   100.0     130.0   500.400000  04/04/1987
79      270.0   100.0     131.0  1729.000000  04/05/1987
80       30.0   159.0     182.0   319.200000  04/06/1987
81       45.0   149.0     169.0   344.000000  04/07/1987
82       30.0   103.0     139.0   151.100000  04/08/1987
83      120.0   100.0     130.0   500.000000  04/09/1987
84       45.0   100.0     120.0   225.300000  06/01/1964
85       30.0   151.0     170.0   300.000000  03/02/1980
86       45.0   102.0     136.0   234.000000  03/03/1980
87      120.0   100.0     157.0  1000.100000  03/04/1980
88       45.0   129.0     103.0   242.000000  08/09/1983
89       20.0    83.0     107.0    50.300000  01/04/1951
90      180.0   101.0     127.0   600.100000  01/05/1951
91       45.0   107.0     137.0   375.790244  01/06/1951
92      -20.0    90.0     107.0   105.300000  09/05/1985
93       15.0    80.0     100.0    50.500000  09/04/1989
94       20.0   150.0     171.0   127.400000  04/04/1987
95       20.0   151.0     168.0   229.400000  04/05/1987
96       30.0    95.0     128.0   128.200000  04/06/1987
97       25.0   152.0     168.0   244.200000  04/07/1987
98       30.0   109.0     131.0   188.200000  04/08/1987
99       90.0    93.0     124.0   604.100000  04/09/1987
100      20.0    95.0     112.0    77.700000  06/01/1964
101      90.0    90.0     110.0   500.000000  03/02/1980
102      90.0    90.0     100.0   500.000000  03/03/1980
103      90.0    90.0     100.0   500.400000  03/04/1980
104      30.0    92.0     108.0    92.700000  08/09/1983
105      30.0    93.0     128.0   124.000000  08/09/1974
106     180.0    90.0     120.0   800.300000  05/08/1980
107      30.0    90.0     120.0    86.200000  08/09/1983
108      90.0    90.0     120.0   500.300000  01/04/1951
109     210.0   137.0     184.0  1860.400000  01/05/1951
110      60.0   102.0     124.0   325.200000  01/06/1951
111      45.0   107.0     124.0   275.000000  09/05/1985
112      15.0   124.0     139.0   124.200000  09/04/1989
113      45.0   100.0     120.0   225.300000  04/04/1987
114      60.0   108.0     131.0   367.600000  04/05/1987
115      60.0   108.0     151.0   351.700000  04/06/1987
116      60.0   116.0     141.0   443.000000  04/07/1987
117      60.0    97.0     122.0   277.400000  04/08/1987
118      60.0   105.0     125.0   375.790244  04/09/1987
119      60.0   103.0     124.0   332.700000  06/01/1964
120      30.0   112.0     137.0   193.900000  03/02/1980
121      45.0   100.0     120.0   100.700000  03/03/1980
122      60.0   119.0     169.0   336.700000  03/04/1980
123      60.0   107.0     127.0   344.900000  08/09/1983
124      60.0   111.0     151.0   368.500000  08/09/1983
125      60.0    98.0     122.0   271.000000  01/04/1951
126      60.0    97.0     124.0   275.300000  01/05/1951
127      60.0   109.0     127.0   382.000000  01/06/1951
128      90.0    99.0     125.0   466.400000  09/05/1985
129      60.0   114.0     151.0   384.000000  09/04/1989
130      60.0   104.0     134.0   342.500000  04/04/1987
131      60.0   107.0     138.0   357.500000  04/05/1987
132      60.0   103.0     133.0   335.000000  04/06/1987
133      60.0   106.0     132.0   327.500000  04/07/1987
134      60.0   103.0     136.0   339.000000  04/08/1987
135      20.0   136.0     156.0   189.000000  04/09/1987
136      45.0   117.0     143.0   317.700000  06/01/1964
137      45.0   115.0     137.0   318.000000  03/02/1980
138      45.0   113.0     138.0   308.000000  03/03/1980
139      20.0   141.0     162.0   222.400000  03/04/1980
140      60.0   108.0     135.0   390.000000  08/09/1983
141      60.0    97.0     127.0   375.790244  08/09/1983
142      45.0   100.0     120.0   250.400000  01/04/1951
143      45.0   122.0     149.0   335.400000  01/05/1951
144      60.0   136.0     170.0   470.200000  01/06/1951
145      45.0   106.0     126.0   270.800000  09/05/1985
146      60.0   107.0     136.0   400.000000  09/04/1989
147      60.0   112.0     146.0   361.900000  04/04/1987
148      30.0   103.0     127.0   185.000000  04/05/1987
149      60.0   110.0     150.0   409.400000  04/06/1987
150      60.0   106.0     134.0   343.000000  04/07/1987
151      60.0   109.0     129.0   353.200000  04/08/1987
152      60.0   109.0     138.0   374.000000  04/09/1987
153      30.0   150.0     167.0   275.800000  06/01/1964
154      60.0   105.0     128.0   328.000000  19/05/2023
155      60.0   111.0     151.0   368.500000  03/03/1980
156      60.0    97.0     131.0   270.400000  03/04/1980
157      60.0   100.0     120.0   270.400000  08/09/1983
158      60.0   114.0     150.0   382.800000  08/09/1983
159      30.0    80.0     120.0   240.900000  01/04/1951
160      30.0    85.0     120.0   250.400000  01/05/1951
161      45.0    90.0     130.0   260.400000  01/06/1951
162      45.0    95.0     130.0   270.000000  09/05/1985
163      45.0   100.0     140.0   280.900000  09/04/1989
164      60.0   105.0     140.0   290.800000  04/04/1987
165      60.0   110.0     145.0   300.000000  04/05/1987
166      60.0   115.0     145.0   310.200000  04/06/1987
167      75.0   120.0     150.0   320.400000  04/07/1987
168      75.0   125.0     150.0   330.400000  04/08/1987

<ipython-input-40-d5d0af62103c>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['DOB'][i] = ewq

--> Some other codes with variation working on diffrent dataset

1. Reading the file and Analysing the data

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Heart_Rate_2.csv")

print(dataset.head(10)) #first 10 lines
print(dataset.head()) #first 5 line
print(dataset.tail()) #last 5 lines
print(dataset.info())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

2. Cleaning_Empty_Cell

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")
#new_dataset = dataset.dropna() #removes all na(null or empty) values
new_dataset = dataset['Calories'].dropna() #removes all na values in 'Calories'
print(new_dataset)

0     409.1
1     479.0
2     340.0
3     282.4
4     406.0
5     300.0
6     374.0
7     253.3
8     195.1
9     269.0
10    329.3
11    250.7
12    250.7
13    345.3
14    379.3
15    275.0
16    215.2
17    300.0
19    323.0
20    243.0
21    364.2
22    282.0
23    300.0
24    246.0
25    334.5
26    250.0
27    241.0
29    280.0
30    380.3
31    243.0
Name: Calories, dtype: float64

3. Cleaning_Empty_Cell_by_Dropping

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")

#when collecting data to new variable "inplace"is not used
new_dataset = dataset.dropna() #removes all na(null or empty) values
#new_dataset = dataset['Calories'].dropna() #removes all na values in 'Calories'
print(new_dataset)

#when changing the original data use "inplcae = 'True' "
#dataset.dropna(inplace = True)  #to change in the original dataframe
#dataset['Calories'].dropna()
dataset.dropna(subset=['Calories'])
print(dataset)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

4. Cleaning_Empty_Cell_by_Filling

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")

#when collecting data to new variable "inplace"is not used
new_dataset = dataset.fillna(130) # changes all the na(null or empty) values to provided value
#new_dataset = dataset['Calories'].fillna(130) # changes all na values in 'Calories' to provided value
print(new_dataset)

#when changing the original data use "inplcae = 'True' "
#dataset.fillna(1300, inplace = True) # changes in original dataframe
dataset['Calories'].fillna(1300, inplace = True)

print(dataset)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     130.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           130    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     130.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0
    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112    1300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132    1300.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

5. Cleaning_Empty_Cell_by_Mean

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")

#using mean to change data
#mean - the average value

calorie_mean = dataset['Calories'].mean()
dataset['Calories'].fillna(calorie_mean, inplace = True)
print(dataset)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00

6. Cleaning_Empty_Cell_by_Median

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")

#using median to change data
#median - the middle value of the sorted data

calorie_median = dataset['Calories'].median()
dataset['Calories'].fillna(calorie_median, inplace = True)
print(dataset)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     291.2
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     291.2
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

7. Cleaning_Empty_Cell_By_Mode

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")

#using mode to change data
#mode - the value that appears frequently

calorie_mode = dataset['Calories'].mode()[0]
dataset['Calories'].fillna(calorie_mode, inplace = True)
print(dataset)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     300.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

8. Cleaning_Wrong_Data

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")
 #there are three ways to work on worng data

#1. if the dataframe is small you can manually change the data
#dataset.loc[7, 'Duration'] = 45

#2. for bigger dataframes you can either loop through them and set a maximum limit
x = sorted(dataset['Duration'])
y = x[-2]
for i in dataset.index:
    if dataset.loc[i, 'Duration'] > y:
        dataset.loc[i, 'Duration'] = y
print(dataset)

#3. or you can remove it
'''x = sorted(dataset['Duration'])
y = x[-2]
for i in dataset.index:
    if dataset.loc[i, 'Duration'] > 120:
        dataset.dropna(inplace = True) '''

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7         60  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

"x = sorted(dataset['Duration'])\ny = x[-2]\nfor i in dataset.index:\n    if dataset.loc[i, 'Duration'] > 120:\n        dataset.dropna(inplace = True) "

9. Cleaning_Wrong_Format

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")

#to correct the format use "pd.to_datetime(var['date/time column']) "
dataset['Date'] = pd.to_datetime(dataset['Date']) #format in which data is changed will be your system date/time format
#dataset['Date'].dropna(inplace = True)

print(dataset)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

10. Correlation

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Python/Datasets/Dirty_Data.csv")
print(dataset.corr())
corr = dataset.corr()
corr.style.background_gradient(cmap = 'coolwarm')

"""

The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation),
and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship,
and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9,
but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship,
meaning that if one value goes up does not mean that the other will.


"""

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000  0.004410  0.049959 -0.114169
Pulse     0.004410  1.000000  0.276583  0.513186
Maxpulse  0.049959  0.276583  1.000000  0.357460
Calories -0.114169  0.513186  0.357460  1.000000

<ipython-input-54-3b6ee0f6196c>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(dataset.corr())
<ipython-input-54-3b6ee0f6196c>:3: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr = dataset.corr()

'\n\nThe Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.\n\nThe number varies from -1 to 1.\n\n1 means that there is a 1 to 1 relationship (a perfect correlation),\nand for this data set, each time a value went up in the first column, the other one went up as well.\n\n0.9 is also a good relationship,\nand if you increase one value, the other will probably increase as well.\n\n-0.9 would be just as good relationship as 0.9,\nbut if you increase one value, the other will probably go down.\n\n0.2 means NOT a good relationship,\nmeaning that if one value goes up does not mean that the other will.\n\n\n'

11. Data_Frames

In [ ]:
data = {"Cals": [420, 380, 390],
        "Duration": [50, 40, 45]}

#load data into a DataFrame object:
dataset = pd.DataFrame(data)

print(dataset)
print()
print(dataset.loc[0]) #single row
print()
print(dataset.loc[[0,2,1]]) #multiple row
print()

dataset = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(dataset) 
print(dataset.loc['day1'])

#dataset = pd.read_*filetype*('*filename.type*')

   Cals  Duration
0   420        50
1   380        40
2   390        45

Cals        420
Duration     50
Name: 0, dtype: int64

   Cals  Duration
0   420        50
2   390        45
1   380        40

      Cals  Duration
day1   420        50
day2   380        40
day3   390        45
Cals        420
Duration     50
Name: day1, dtype: int64